.blogview {
    width:70%;
     display:flex;
     justify-content:center;
     gap:10px;
     flex-direction:column;

     margin:auto;
}
.blogview > div{
  background-color:bisque;
}
.username{
  text-align:left;
 margin-left: 15px;
 font-weight: bold;
}