.blogview {
  width: 60%;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-direction: column;

  margin: auto;
}
.blogview > div {
  background-color: rgb(228, 219, 219);
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}
.blogview > div > img {
  width: 350px;
  border-radius: 5px;
}
.username {
  width: fit-content;
  text-align: left;
  margin-left: 15px;
  font-weight: bold;
  padding: 5px;
  border: 3px solid grey;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
}
