#addposthere{
    background-color:black;
    border:1px solid black;
    padding:5px;
cursor:pointer;
width:200px;
margin:auto;
}
.blogview {
    width:70%;
     display:flex;
     justify-content:center;
     gap:10px;
     flex-direction:column;

     margin:auto;
}
.blogview {
  display:grid;
  grid-template-columns:repeat(2,1fr);
  justify-content: space-around;
  margin-top:15px;
}
.blogview > div > img {
    width:350px;
}
.postingdiv{
    width:250px;
    margin:auto;
    display:flex;
    flex-direction:column;
    gap:9px;
}
.hidingdiv{
    display:none;
}
h2{
    color:green;
}
